.comments {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
  }
}

@media (min-width: 568px) {
  .comments {
    &__container {
      gap: 8rem;
    }
  }
}
