.categories {
  &__container {
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    width: 100%;
    overflow: scroll;

    li {
      width: 20rem;
      flex-shrink: 0;
    }
  }
}

@media (min-width: 992px) {
  .categories {
    &__container {
      overflow: visible;
      li {
        flex: 1 1 25rem;
      }
    }
  }
}
