@import "../../styles/variables";

.donate-widget {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 2rem;
  background-color: $dark-text;
  border-radius: $border-radius;
  color: #fff;
  background-image: url("../../public/mask2.svg");
  background-position: center;
  background-size: cover;

  &__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
  }
}
